.container-recommend {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 120px !important;
    height: 195px;
    }

.swiper-slide img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--col-de-btn1) !important;
}

.swiper-pagination-bullet-active {
    background-color:  var(--col-de-btn1) !important;
}

/* For tablets : */
@media only screen and (min-width: 768px) {
    .swiper-slide{
        width: 230px !important;
    }
}